<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Go.Properties.BoardCoordination" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Go.Properties.PlayerInfo" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Go.Properties.PlayersInfo" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Go.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Go.Properties.BoardCoordination" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <Go.Properties.BoardCoordination>
            <setting name="NineByNineHorizontalSpacing" serializeAs="String">
                <value>75</value>
            </setting>
        </Go.Properties.BoardCoordination>
        <Go.Properties.PlayerInfo>
            <setting name="NULLID" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="PLAYER1ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PLAYER2ID" serializeAs="String">
                <value>1</value>
            </setting>
        </Go.Properties.PlayerInfo>
        <Go.Properties.PlayersInfo>
            <setting name="NULLID" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="PLAYER1ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PLAYER2ID" serializeAs="String">
                <value>1</value>
            </setting>
        </Go.Properties.PlayersInfo>
        <Go.Properties.Settings>
            <setting name="Height" serializeAs="String">
                <value>1125</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>1125</value>
            </setting>
        </Go.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Go.Properties.BoardCoordination>
            <setting name="NineByNineVerticalSpacing" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="ThirteenByThirteenHorizontalSpacing" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ThirteenByThirteenVerticalSpacing" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="NineteenByNineteenHorizontalSpacing" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="NineteenByNineteenVerticalSpacing" serializeAs="String">
                <value>30</value>
            </setting>
        </Go.Properties.BoardCoordination>
    </userSettings>
</configuration>